@font-face {
  font-family: "Myriorama";
  src: url("./assets/Berthold Akzidenz Grotesk BE Ex Bold.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

.myriorama {
  position: relative;
  top: 0px;
  left: 0px;
  display: inline-block;
  width: 100%; /* Adjust the width as needed */
  max-width: 418px; /* Set a maximum width to prevent excessive scaling */
  height: auto; /* Allow the height to adjust based on content */
  color: #cecece;
  font-size: 5vw; /* Use vw unit for responsive font size */
  font-family: "Myriorama", sans-serif;
  text-align: left;
}

.est-2016 {
  position: fixed;
  top: calc(12% + 50px);
  font-size: 1vw; /* Use vw unit for responsive font size */
  font-family: "Berthold Akzidenz Grotesk";
  display: inline-block;
  width: 100%; /* Adjust the width as needed */
}

.myriorama-parent {
  position: relative;
  width: 100%; /* Adjust the width as needed */
  max-width: 418px; /* Set a maximum width to prevent excessive scaling */
  height: auto; /* Allow the height to adjust based on content */
}

.download-projects-dossier,
.get-in-touch {
  position: relative;
  display: inline-block;
  width: 100%; /* Adjust the width as needed */
  max-width: 319px; /* Set a maximum width to prevent excessive scaling */
  height: auto; /* Allow the height to adjust based on content */
  flex-shrink: 0;
  margin-left: 2%; /* Add some left margin for spacing */
  margin-right: 4%;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.group-parent {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.2vw;
  color: #cecece;
  margin-left: 2%;
  font-family: "Berthold Akzidenz Grotesk";
}

.button {
  display: inline-block;
  padding: 12px 24px;
  color: #fff;
  text-decoration: none;
  margin: 10px;
  margin-left: 15vw;
  margin-top: 25px;
  margin-right: 20px;

}

@media only screen and (min-width: 600px) {
  /* Adjust styles for larger screens if needed */
  .group-parent {
    flex-direction: row; /* Switch back to row layout for larger screens */
  }
  .download-projects-dossier,
  .get-in-touch {
    font-family: "Myriorama", sans-serif;
    width: auto; /* Reset width for larger screens */
    max-width: none; /* Reset max-width for larger screens */
    margin-left: 10px; /* Adjust left margin for spacing on larger screens */
  }
}

.background-video {
  position: fixed;
  filter: blur(0.7px); /* Add a blur effect to the video */
  bottom: 0;
  right: 0;
  width: 80%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: -1;
}
@media only screen and (max-width: 600px) {
  .background-video {
    position: fixed;
    filter: blur(0.7px); /* Add a blur effect to the video */
    bottom: 0;
    right: 0;
    width: 80%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    z-index: -1;
  }
  /* styles for mobile devices */
  body {
    font-size: 16px;
  }
  .myriorama-parent {
    font-size: 6vw;
    position: fixed;
    top: 60%;
    left: 0;
    transform: rotate(-90deg);
    transform-origin: 0 0;
  }
  

  .group-parent {
    position: relative;
    display: flex;
    flex-direction: row; /* Change to row layout */
  }
}