@font-face {
  font-family: "Myriorama";
  src: url("./assets/Berthold Akzidenz Grotesk BE Ex Bold.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

.myriorama {
  position: relative;
  top: 0px;
  left: 0px;
  display: inline-block;
  width: 100%; /* Adjust the width as needed */
  max-width: 418px; /* Set a maximum width to prevent excessive scaling */
  height: auto; /* Allow the height to adjust based on content */
  color: #cecece;
  font-size: 5vw; /* Use vw unit for responsive font size */
  font-family: "Myriorama", sans-serif;
  text-align: left;
}

.est-2016 {
  position: fixed;
  top: 12%;
  right: 45.7%;
  font-size: 1vw; /* Use vw unit for responsive font size */
  font-family: "Berthold Akzidenz Grotesk";
  display: inline-block;
  width: 100%; /* Adjust the width as needed */
}

.myriorama-parent {
  position: relative;
  width: 100%; /* Adjust the width as needed */
  max-width: 418px; /* Set a maximum width to prevent excessive scaling */
  height: auto; /* Allow the height to adjust based on content */
}

.download-projects-dossier,
.get-in-touch {
  position: relative;
  display: inline-block;
  width: 100%; /* Adjust the width as needed */
  max-width: 319px; /* Set a maximum width to prevent excessive scaling */
  height: auto; /* Allow the height to adjust based on content */
  flex-shrink: 0;
  margin-left: 2%; /* Add some left margin for spacing */
  margin-right: 4%;
}

.group-parent {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column; /* Adjust to column layout for responsiveness */
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  text-align: center; /* Center text for responsiveness */
  font-size: 1.2vw; /* Use vw unit for responsive font size */
  color: #cecece;
  margin-left: 2%;

  font-family: "Berthold Akzidenz Grotesk";
}

@media only screen and (min-width: 600px) {
  /* Adjust styles for larger screens if needed */
  .group-parent {
    flex-direction: row; /* Switch back to row layout for larger screens */
  }
  .download-projects-dossier,
  .get-in-touch {
    width: auto; /* Reset width for larger screens */
    max-width: none; /* Reset max-width for larger screens */
    margin-left: 10px; /* Adjust left margin for spacing on larger screens */
  }
}

.background-video {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 60%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  z-index: -1;
}
