* {
  margin: 0;
  background-color: #B1B1B1;
}

@font-face {
    font-family: 'Apple Garamond' ;
    src: url('./assets/AppleGaramond.ttf');
}

.backgroundImage {
  width: 100vw;
}

.container{
    
    
}

.overlay{
    position: absolute;
    margin-left: 2%;
  
}

.overlay p {
font-family: 'Apple Garamond';
font-style: normal;
font-weight: 400;
font-size: 2vw;
color: #E84033;
}

.overlay p a {
font-family: 'Apple Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    color: #E84033;
}

.overlay img {
    width: 50vw;

}

.bottomText {
  display: flex;
      align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top:5vh;
}

.trademark {
    display: flex;
}
.trademark p{

    font-family: 'Apple Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    color: #E84033;

}

.trademark img {
    width: 4vw;
}
.small-text